* {
    padding: 0;
    text-align: center;
    text-decoration: none;
    background-color: #2c2f33;
    color: white;
}

*:hover {
    color: #7289da;
}

ul {
    font-size: 20px;
}

#main {
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #7289da;
}

p {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 22px;
}

.visuals {
    position: fixed;
    left: 50px;
    top: 20px;
    left: 20px;
    width: 200px;
}

#newcarpos {
    width: 400px;
    height: 300px;
}