* {
    padding: 0;
    text-align: center;
    text-decoration: none;
    background-color: #2c2f33;
    color: white;
}

*:hover {
    color: #7289da;
}

ul {
    font-size: 24px;
}

#main {
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #7289da;
}

h2:hover {
    font-size: 32px;
}

p {
    padding-left: 300px;
    padding-right: 300px;
}